/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

h1, h2, h3 {
    font-family: Roboto, sans-serif;
    color: #54278f;
}

a {
    color: #54278f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation Bar */
nav {
    text-align: center;
    background-color: #e9ecef;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
}

nav a {
    margin: 0 15px;
    font-weight: bold;
}

/* Page Title */
.title {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #ffffffcc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #54278f;
}

/* Main Content */
main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 14px;
    background-color: #e9ecef;
    border-top: 2px solid #ccc;
}

/* Tooltip Styles */
.d3-tip {
    line-height: 1.5;
    font-weight: bold;
    padding: 10px;
    background: rgba(236, 155, 4, 0.9);
    color: white;
    border-radius: 5px;
    position: absolute;
    pointer-events: none;
    font-size: 14px;
}

/* Responsive SVG */
svg {
    max-width: 100%;
    height: auto;
}

/* Visualization Container */
#choroplethContainer, #multiDimensionalPlot {
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
    position: relative;
}

#choropleth {
    margin: 0 auto;
}

/* Form Styles */
.form-container {
    max-width: 400px;
    margin: auto;
    text-align: left;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Tooltip */
#tooltip {
    position: absolute;
    visibility: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 12px;
    pointer-events: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
